<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaPdey-YC20s0ZvCq2XEBvIfPlh4lAo3c</string>
	<key>GCM_SENDER_ID</key>
	<string>579083559503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dikorosua.app</string>
	<key>PROJECT_ID</key>
	<string>dikorosua-f7803</string>
	<key>STORAGE_BUCKET</key>
	<string>dikorosua-f7803.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579083559503:ios:66dabd55471772528bc03a</string>
</dict>
</plist>